<% provide(:title, "YankeDonuts.ie") %>
<% provide(:page_title, "YankeDonuts.ie") %>
<% provide(:body_class, "contact") %>

<h1>Contact</h1>

<div class="contact-wrapper">
	<div id="contact-map">
		<iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=96%20rathmines%20road%20lower%20Dublin%2C%20Ireland&key=AIzaSyCznRPz_rs0YwyUBHf7F69EwTznnW9x04M" allowfullscreen></iframe>
	</div>

	<div class="contact-left">
		<p>Address: 96 rathmines road lower
		Dublin, Ireland</p>
		<p>T: <a href="tel:+353 1 516 1352">+353 1 516 1352</a> <br>
		E: info@yankeedonuts.ie</p>
	</div>
	

	<div class="contact-right form">
		<%= form_tag("/send-mail", method: 'post') do %>
		<div class="first_name_group">
			<%= label_tag(:first_name, "First Name:") %>
			<%= text_field_tag(:first_name, nil, class: 'field-element') %>
		</div>
		
		<div class="last_name_group">
			<%= label_tag(:last_name, "Last Name:") %>
			<%= text_field_tag(:last_name, nil, class: 'field-element') %>
		</div>
		
		<%= label_tag(:email, "Email Address:") %>
  		<%= text_field_tag(:email, nil, class: 'field-element') %>

  		<%= label_tag(:subject, "Subject:") %>
  		<%= text_field_tag(:subject, nil, class: 'field-element') %>

		<%= label_tag(:message, "Message:") %>
		<%= text_area_tag(:message, nil, class: 'field-element') %>

		<%= submit_tag "Submit", class: '' %>

		<% end %><!-- end form -->
	</div>
</div>

