<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New email from yankeedonuts.co.uk contact form</h1>
    <p>
      From: <%= @first_name %> <%= @last_name %> <br>
      Email: <%= @email %>.<br>
      Subject <%= @subject %>.<br>
      Message:<br>
      "<%= @message %>"
    </p>
  </body>
</html>
