    <section id="slide">
      <%= nivo_slider id: "slider" do %>
        <%= image_tag "slides/slide4.jpg", alt: "A very nice photo!" %>
        <%= image_tag "slides/slide5.jpg", alt: "A very nice photo!" %>
        <%= image_tag "slides/slide6.jpg", alt: "A very nice photo!" %>
        <%= image_tag "slides/slide7.jpg", alt: "A very nice photo!" %>
        <%= image_tag "slides/slide8.jpg", alt: "A very nice photo!" %>
      <% end %>
    </section>