<% if @page.catalog == true %>






<% @categories.each do |category| %>
  <h2><%= category.title %></h2>
  <div class="row">
    <% category.products.each do |product| %>
    <div class="produktas blokas">
      <div class="col-sm-4">
        <%= image_tag product.image.url('medium'), :style => '' %>
      </div> <!-- # col-sm-4 -->
      <div class="col-sm-8">
        <h3><%= product.title %></h3>
        <p id="" class="produkto-kaina produktas">Kaina: <%= product.price %>€</p>
        <p id="" class="produkto-aprasymas produktas"><%= product.description %></p>
      </div> <!-- # col-sm-8 -->
      <div class="clearfix"></div>
    </div>

    <% end %>
  </div>
<% end %>

<% end %>
