<% provide(:title, 'Produkto kategorijos peržiūra') %>
<% provide(:page_title, 'Produkto kategorijos peržiūra') %>
<% provide(:button_text, 'Patvirtinti') %>

<p id="notice"><%= notice %></p>

<div id="breadcrumb">
  <p><a href="/users/<%= current_user.id %>">Adminitravimo pultas</a>/katalogo kategorijų valdymas</p>
</div>

<p>
  <strong>Pavadinimas:</strong>
  <%= @product_category.title %>
</p>

<%= link_to 'Edit', edit_product_category_path(@product_category), class: "btn btn-default" %> |
<%= link_to 'Back', product_categories_path, class: "btn btn-default" %>
