<p id="notice"><%= notice %></p>
<p>
  <%= image_tag @product.image.url('normal'), :style => 'max-width: 100%;' %>
</p>

<p>
  <strong>Kategorijos pavadinimas:</strong>
  <%= @product.product_category.title %>
</p>

<p>
  <strong>Pavadinimas:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Aprašymas:</strong>
  <%=raw @product.description %>
</p>

<p>
  <strong>Kaina:</strong>
  <%= @product.price %>€
</p>

<%= link_to 'Koreguoti', edit_product_path(@product) %> |
<%= link_to 'Atgal', products_path %>
