<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="turbolinks-root" content="/app">
    <title> <%= yield(:title) %> || YankeeDonuts.ie</title>
    <meta name="description" content="<%= yield(:description) %>" >
    <meta name="keywords" content="<%= yield(:keywords) %>" >
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield(:css) %>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body class="" >
    <div id="wrap">
      
        <section id="header">
          <div class="header-inner">
            <nav>
              <%= render('shared/menu') %>
            </nav>
              
            <a href="/"><div id="logo"></div></a>
            <a href="#" id="delivery">Delivery</a>
          </div>
          <div id="juostele_po_meniu">
            <div id="star1" class="star"></div>
            <div id="star2" class="star"></div>
            <div id="star3" class="star"></div>
            <div id="star4" class="star"></div>
            <div id="star5" class="star"></div>
            <div id="star6" class="star"></div>
            <div id="star7" class="star"></div>
            <div id="star8" class="star"></div>
          </div>  
  

        </section>

      <div id="top1">
        
      </div><!-- #top1 -->
      <div id="top2">
        <%= render 'shared/slide.html.erb' %>
        <div class="ribbon first wide">
          <div class="star star1"></div>
          <div class="star star2"></div>
          <div class="star star3"></div>
          <div class="star star4"></div>
          <div class="star star5"></div>
          <div class="star star6"></div>
          <div class="star star7"></div>
          <div class="star star8"></div>
          <div class="star star9"></div>
          <div class="star star10"></div>
          <div class="star star11"></div>
        </div>
    
      </div>

      <div id="donut-kinds" class="wide">
        <div class="kind1">
          <div class="flag1"></div>
        </div>
        <div class="kind2">
          <div class="flag2"></div>
        </div>
        <div class="kind3">
          <div class="flag3"></div>
        </div>
      </div>

      <div id="events-banner" class="wide">
        <h2>Events</h2>
        <a href="/events" class="learn-more">Learn more</a>
      </div>

      <div id="delivery-banner" class="wide">
        <h2>NOW DELIVERING<br>TO YOUR DOOR!</h2>
        <a href="#" class="order-online">Order Online</a>
        <div id="deliveroo"></div>
        <div id="just-eat"></div>
      </div>

      <div class="stars-colored">
        <div class="star blue"></div>
        <div class="star red"></div>
        <div class="star blue"></div>
        <div class="star red"></div>
        <div class="star blue"></div>
        <div class="star red"></div>
        <div class="star blue"></div>
        <div class="star red"></div>
        <div class="star blue"></div>
        <div class="star red last"></div>
      </div>

      <div id="twitter" class="wide">
        <a href="https://www.instagram.com/">
          <div class="left">
            <div class="content">
              
            </div>
          </div>
          <div class="middle">
            <p class="invitation">FOLLOW US <br>ON INSTAGRAM</p>
            <p class="twitter-address">@yankeedonuts</p>
          </div>
          <div class="right">
            <div class="content">
              
            </div>
          </div>
        </a>
      </div>

      


      <!-- prideti footer ir scripts -->

      <%= render('layouts/footer.html.erb') %>

      <%= debug(params) if Rails.env.development? %>
      <script src="https://use.fontawesome.com/4b67208f55.js"></script>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= csrf_meta_tags %>
    </div><!-- #wrap -->
  </body>

</html>
